.card-container {
    background: var(--p-content-background);
    border: 1px solid var(--p-content-border-color);
    border-radius: var(--p-border-radius-xl);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.color-indicator {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid var(--p-content-border-color);
}

:host ::ng-deep .p-dialog-content {
    padding-top: 1.5rem;
}